attrs==24.2.0
beautifulsoup4==4.12.3
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
defusedxml==0.7.1
et-xmlfile==1.1.0
fiona==1.10.1
GeoAlchemy2==0.15.2
geopandas==0.14.4
greenlet==3.1.1
idna==3.10
networkx==3.3
numpy==1.26.4
odfpy==1.4.1
openpyxl==3.1.5
osmnx==1.9.4
packaging==24.1
pandas==2.2.3
psycopg==3.2.3
psycopg-binary==3.2.3
pyproj==3.7.0
python-calamine==0.2.3
python-dateutil==2.9.0.post0
pytz==2024.2
pyxlsb==1.0.10
requests==2.32.3
shapely==2.0.6
six==1.16.0
soupsieve==2.6
SQLAlchemy==2.0.36
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
xlrd==2.0.1
XlsxWriter==3.2.0
flask==3.1.0